.slider button {
  border: none;
}

.slider .slider-buttons button:hover, .slider .slider-buttons button.active {
  background: #fff;
}

.slider .slider-pics {
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 3rem 6rem rgba(0,0,0,.5);
  display: inline-block;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.slider-pics {
  background-color: #01a0e2;
}

.slider {
  background: #000;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.slider .slider-buttons {
  padding-left: 4px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.slider .slider-buttons button {
  background: rgba(255,255,255,.5);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 7px;
  margin: 1.2px;
  padding: 5px;
  transition: background .3s;
  width: 7px;
}

.slider .slider-pics h3 {
  background: rgba(163,163,163,0.7);
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
}

@media (min-width: 576px) {
  .slider {
    background: #000;
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 576px) {
  .slider .slider-buttons {
    padding-left: 4px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

@media (min-width: 576px) {
  .slider .slider-buttons button {
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 7px;
    margin: 1.2px;
    padding: 5px;
    transition: background .3s;
    width: 7px;
  }
}

@media (min-width: 576px) {
  .slider .slider-pics h3 {
    background: rgba(163,163,163,0.7);
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
  }
}

@media (min-width: 768px) {
  .slider {
    background: #000;
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 768px) {
  .slider .slider-buttons {
    padding: 2px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

@media (min-width: 768px) {
  .slider .slider-buttons button {
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 7px;
    margin: 3px;
    padding: 6px;
    transition: background .3s;
    width: 7px;
  }
}

@media (min-width: 768px) {
  .slider .slider-pics h3 {
    background: rgba(163,163,163,0.7);
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
  }
}

@media (min-width: 992px) {
  .slider {
    background: #000;
    height: 65vh;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 992px) {
  .slider .slider-buttons {
    padding: 4px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

@media (min-width: 992px) {
  .slider .slider-buttons button {
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 3.5px;
    padding: 6px;
    transition: background .3s;
    width: 8px;
  }
}

@media (min-width: 992px) {
  .slider .slider-pics h3 {
    background: rgba(163,163,163,0.7);
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .slider {
    background: #000;
    height: 70vh;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .slider .slider-buttons {
    padding: 5px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

@media (min-width: 1200px) {
  .slider .slider-buttons button {
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 4px;
    padding: 6.5px;
    transition: background .3s;
    width: 10px;
  }
}

@media (min-width: 1200px) {
  .slider .slider-pics h3 {
    background: rgba(163,163,163,0.7);
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
  }
}

@media (min-width: 1400px) {
  .slider {
    background: #000;
    height: 70vh;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 1400px) {
  .slider .slider-buttons {
    padding: 5px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

@media (min-width: 1400px) {
  .slider .slider-buttons button {
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 5px;
    padding: 7px;
    transition: background .3s;
    width: 10px;
  }
}

@media (min-width: 1400px) {
  .slider .slider-pics h3 {
    background: rgba(163,163,163,0.7);
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
  }
}

